body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#meals img {
  margin: 10px;
  border: 2px solid black;
}
